/* ÁLTALÁNOS */

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "main sidebar"
    "footer footer";
}
hr {
  border: none;
  height: 1px;
  background-color: #2c3e50;
  width: 90%;
  margin: auto;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: auto 120px;
  }
  aside {
    padding: 10%;
  }
}
/* NAVBÁR */

nav {
  top: 0;
  position: sticky;
  grid-area: navbar;
  background-color: rgb(202, 167, 114);
  display: flex; /* Flexbox bekapcsolása */
  justify-content: center; /* Elemek középre igazítása vízszintesen */
  align-items: center; /* Függőleges középre igazítás */
  gap: 5px; /* Az elemek közötti távolság szabályozása */
}

nav a {
  text-decoration: none; /* Linkek aláhúzásának eltávolítása */
  color: white; /* Szöveg színe */
  padding: 5px 10px; /* Belülről távolság hozzáadása */
  border-radius: 5px; /* Lekerekített sarkok */
  transition: background-color 0.3s ease; /* Simább hover effekt */
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Hover effekt */
}
/* Mobil változat */
@media (max-width: 1100px) {
  nav {
    width: 100%;
    flex-direction: column; /* Elemek egymás alá kerülnek */
    gap: 2px; /* Kisebb távolság az elemek között */
  }

  nav a {
    padding: 2px; /* Nagyobb méretű linkek mobilon */
    text-align: center; /* Szöveg középre igazítása */
  }
}
@media (max-width: 500px) {
  nav {
    position: static;
  }
}
/* MAIN BODY */

main {
  grid-area: main;
}
.welcome img {
  width: 100%; /* A kép szélessége kitölti a szülőt */
  height: auto; /* Magasság automatikusan igazodik, hogy megőrizze az arányokat */
}
.welcome h1 {
  font-size: 2rem;
  text-align: center;
}

#efop {
  display: flex; /* Flexbox bekapcsolása */
  justify-content: center; /* Kép középre igazítása vízszintesen */
  align-items: center; /* Ha szükséges, függőleges középre igazítás */
  width: 70%; /* A szülő konténer szélessége teljes legyen */
  margin: 20px auto; /* Középre helyezés a szülő konténerben */
  border: solid 1px; /* Keret */
  display: block; /* Biztosítás, hogy a kép blokkszintű legyen */
}

.greeting {
  padding: 4%;
  background-color: #fff;
  padding-top: 100px;
}
.greeting img {
  width: 400px;
  float: right;
  padding: 0px 5px 5px;
  margin-left: 40px;
  margin-bottom: 20px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 10px 10px 10px gray;
}

.greeting h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #030303;
  text-align: center;
  text-shadow: 1px 1px white;
  padding-bottom: 10px;
}

.greeting p {
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 1.5rem;
  text-align: justify;
  letter-spacing: -0.1px;
  line-height: 150%;
}
@media (max-width: 880px) {
  .greeting img {
    width: 100px; /* Kép szélessége mobil nézetben */
  }
  .greeting h1 {
    font-size: 1rem;
    text-align: center;
  }
  .greeting p {
    font-size: 1rem;
    text-align: left;
  }
  .welcome h1 {
    font-size: 1rem;
    text-align: center;
  }
}

.kvote {
  text-align: right;
  margin-bottom: 30px;
  font-style: italic;
}

.signature {
  text-align: right !important;
  margin-top: 10px;
}

.kvote2 {
  font-style: italic;
}

/* JOBBOLDALI SÁV */

aside {
  grid-area: sidebar;
  background-color: rgba(128, 128, 128, 0.164);
  padding: 4%;
  border-left: solid 0.5px #2c3e503a;
}
aside h3 {
  font-size: 1rem;
}
aside p {
  font-size: 1rem;
}

aside img {
  width: 200px;
  padding: 12px; /* Belülről távolság hozzáadása */
}

aside a {
  text-decoration: none; /* Linkek aláhúzásának eltávolítása */
  color: rgb(20, 18, 121); /* Szöveg színe */
}

@media (max-width: 768px) {
  aside img {
    width: 80px; /* Kép szélessége mobil nézetben */
    padding: 5px; /* Belülről távolság hozzáadása */
  }
  aside h3 {
    font-size: 10px;
  }
}
/* Egéb tartalom a főoldalon */
.news img {
  display: flex; /* Flexbox bekapcsolása */
  width: 50%; /* A szülő konténer szélessége teljes legyen */
  margin: 20px auto; /* Középre helyezés a szülő konténerben */
}

/* FOOTER */
footer {
  border-top: 1px solid #2c3e5063;
  grid-area: footer;
  font-size: 0.8rem;
  line-height: 15px;
  background-color: rgb(202, 167, 114);
  color: white;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  bottom: 0;
  transition: bottom 0.1s ease-in;
}
